{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Set a new password{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        {% if validlink %}
            <h3 class="mb-3">Set a new password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100">Set password</button>
            </form>
        {% else %}
            <h3>Link expired</h3>
            <p>This password reset link is invalid, possibly because it has already been used. Please request a new one.</p>
            <a href="{% url 'accounts:password_reset' %}" class="btn btn-outline-primary">Request new link</a>
        {% endif %}
    </div>
</div>
{% endblock %}
